@import "../../../../global-scss/global-styles";

#detailed-trip-container {
  padding-top: 100px;

  #back-button, #edit-button {
    &:hover {
      cursor: pointer;
      color: $base-color;
    }
  }

  #back-button {
    text-align: left;
  }

  #edit-button {
    text-align: right;
  }

  #trip-info, #attractions-list-container {
    padding-top: 4rem;
  }
  #trip-name {
    color: $base-color;
    padding-bottom: 2rem;
  }
  #offer-button {
    padding-top: 2rem;
  }
}