@import "../../global-scss/global-styles";

#trip-banner {

  height: 20vh;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #c8c8c8;
  z-index: 100;

  #no-trip-container {
    #trip-banner-heading {
      padding-top: 3rem;
    }

    #trip-banner-button {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }
  }
}
