@import "../../global-scss/global-styles";

#trip-banner {
  height: 25vh;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: $bg-color;
  color: #ffffff;
  z-index: 100;

  #no-trip-container {
    padding-top: 2.5rem;
    @media (min-width: 415px) {
      padding-top: 5rem;
    }

    #trip-banner-button {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
      @media (min-width: 415px) {
        padding-top: 2rem;
      }
    }
  }

  #with-trip-container {
    @media (min-width: 415px) {
      padding-top: 5rem;
    }

    #trip-banner-header {
      position: relative;

      #window-close-icon {
        position: absolute;
        top: 15%;
        left: 95vw;
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
          color:$base-color
        }

        @media (max-width: 415px) {
          font-size: 1.2rem;
        }
      }
    }

    #banner-buttons {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: space-evenly;
      padding-top: 0.4rem;
      @media (min-width: 340px) {
        padding-top: 1rem;
      }
    }
    #money-icon, #guide-icon, #time-icon, #group-icon {
      &:hover{
        color:$base-color
      }
    }
  }
}
