@import "../../global-scss/global-styles";

#trip-banner {

  height: 20vh;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #c8c8c8;
  z-index: 100;

  #no-trip-container {

    #trip-banner-button {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }
  }

  #with-trip-container {
    #trip-banner-header {
      position: relative;

      #window-close-icon {
        position: absolute;
        top: 15%;
        left: 95vw;
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
        }
        @media (max-width: 415px) {
          font-size: 1.2rem;
        }
      }
    }
    .trip-info-icon {
      padding-top: 1rem;
      font-size: 1.8rem;
    }
    #attractions-count {
      font-size: 4.5rem;
    }
    #banner-buttons {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: space-evenly;

    }
  }
}
