@import "../../../global-scss/global-styles";

#trip-choose-modal {
  #modal-header {
    border-bottom: none;
  }

  #modal-body {
    padding-bottom: 3rem;

    #trips-body {
      #trips-body-header, #trips-body-choice {
        text-align: center;
      }

      .trip-name {
        &:hover {
          background-color: #f4f4f4;
          cursor: pointer;
        }
      }
      #trips-body-choice{
        margin: 1rem 0 1rem;
      }
    }

    #create-trip-button, #trips-body-empty {
      text-align: center;
    }
  }
}

