
.attraction-container {
  position: relative;

  .disabled-heart-icon, .filled-heart-icon {
    position: absolute;
    color: #c0370f;
    z-index: 1;
    left: 87%;
    top: 2%;

    &:hover {
      transform: scale(1.2);
    }
  }

  .disabled-heart-icon {
    color: lightgrey;
  }

  .card-body {
    max-width: 200px;
    padding: 0 0 2rem 0;

    .card-img {
      max-width: 180px;
      max-height: 80px;
    }
  }
}

