@import "../../../global-scss/global-styles";

#cities {
  padding: 20px;

  h1 {
    padding-bottom: 10px;
  }

  .filter-button {
    background-color: $base-color;

    &:hover {
      background-color: $base-color-dark;
    }
  }
}