#trip-input-modal {
  #trip-input-switchers {
    :nth-child(3) {
      padding-top: 1rem;
    }
  }

  #trip-input-footer {
    justify-content: center;
    border-top: none;
    padding-bottom: 2rem;
  }
}