@import "../../../../global-scss/global-styles";

.user-trip-container {
  .user-trip-heading {
    text-align: left;

    &:hover {
      cursor: pointer;
      color: $base-color;
    }
  }

  .icon-delete {
    display: inline-block;
    color: $base-color;
    padding-top: 6px;

    &:hover {
      color: $base-color-dark;
      cursor: pointer;
    }
  }
}