#attractions-page {
  position: relative;
  overflow: hidden;
  height: 70vh;

  #attractions-header {
    position: relative;

    #filter-button {
      position: absolute;
      top: 10%;
      right: 5vw;
    }
  }

  #filter-tags {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  #attractions-container {
    position: relative;
    display: flex;

    #attractions {

      #attractions-list-mobile, #attractions-list-browser {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        align-content: space-around;

      }

      #attractions-list-browser {
        width: 60vw;
      }
    }

    #pagination {
      width: 15%;
      margin: 0 auto;
      padding-top: 2rem;
    }

    #attractions-filters {
      width: 40vw;
    }

    #filters-menu, #filters-menu-show {
      position: absolute;
      right: -100%;
      transition: all 0.5s ease;
      display: block;
      background-color: lightgrey;
      text-align: center;
      width: 50vw;
      z-index: 100;
    }

    #filters-menu-show {
      right: 0;
    }
  }
}
