#attractions-page {
  position: relative;

  #attractions-header {
    position: relative;

    #filter-button {
      position: absolute;
      top: 10%;
      right: 5vw;
    }
  }

  #filter-tags {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  #attractions-container {
    position: relative;
    display: flex;

    #attractions {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      h1 {
        position: center;
      }

      #attractions-list-mobile, #attractions-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      #attractions-list {
        width: 60vw;
      }
    }

    #attractions-filter {
      width: 40vw;
    }
  }
}
