@import "../../global-scss/global-styles";

#attractions-page {
  position: relative;
  min-height: 75vh;
  padding-top: 50px;

  #attractions-header {
    position: relative;
    padding: 1.1rem;
    @media (min-width: 415px) {
      padding: 1.3rem;
    }

    #search-desktop {
      max-width: 30vw;
      margin: 0 auto;
    }

    #filter-button {
      position: absolute;
      top: 10%;
      right: 5vw;
    }
  }

  #filter-tags {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 4rem;
  }

  #attractions-container {
    height: 50vh;

    .attraction-card {
      margin-bottom: 2rem;
    }

    #buffer-div {
      height: 25vh;
    }

    #attractions-filters {
      padding: 2rem;
      margin-right: 2rem;
      background-color: $bg-color-1;
    }

    #filters-menu, #filters-menu-show {
      position: fixed;
      top: 100vh;
      left: 0;
      transition: all 0.5s ease;
      width: 100vw;
      z-index: 500;
      background-color: white;
      height: 95vh;
    }

    #filters-menu-show {
      top: 50px;
    }

    #icon-container {
      width: 100%;
      text-align: right;

      #icon-div {
        display: inline-block;
        padding: 1.2rem;
      }
    }
  }
}
