@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade|Open+Sans:400,600&display=swap');

//colors

$bg-color-0: #272727; // Background color */
$bg-color-1: rgba(144, 140, 140, 0.12);
$bg-color-2: #545454;
$bg-color-3: #000000;
$bg-color-4: #010000;


$base-color: #dc3545; // Primary color */
$color-primary-1: #FF8585;
$color-primary-2: #FF5C5C;
$base-color-dark: #c53242;

$color-secondary-1-0: #209292; // Secondary color (1) */
$color-secondary-1-1: #64C0C0;
$color-secondary-1-2: #3AA1A1;
$color-secondary-1-3: #098080;
$color-secondary-1-4: #026565;


//buttons

@mixin button() {
  border-radius: 8%;
}

.filter-button {
  @include button();
  background-color: $base-color;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: $base-color-dark;
  }
}

.filter-tag-button {
  @include button();
  margin: 0 0.5rem;
  background-color: $base-color;

  &:hover {
    background-color: $base-color-dark;
  }
}

.action-button {
  @include button();
  background-color: $color-secondary-1-0;
  &:hover {
    background-color: $color-secondary-1-3;
  }
}

//text

@mixin text() {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.text-default {
  @include text();
}

@mixin text-emphasis() {
  @include text();
  font-weight: 600;
}

.text-highlight {
  @include text-emphasis();
}

.text-header {
  @include text-emphasis();
  padding: 1rem 0 0.5rem;
  font-size: 1.2rem;
  @media (max-width: 415px) {
    padding: 0.5rem 0 0.5rem;
  }
}

.text-header-important {
  @include text();
  font-family: 'Jim Nightshade', sans-serif;
  padding: 0.8rem 0 0;
  font-size: 2rem;
  @media (min-width: 415px) {
    font-size: 2.2rem;
  }
}
