

//colors

$base-color: #BC002C;	// Japan flag's red
$color-primary-1: #EF3E67;
$color-primary-2: #EB1144;
$base-color-dark: #930022;
$color-primary-4: #610017;

$complementary-color: #00BC8D;	// complementary color
$color-primary-1: #4DD9B6;
$color-primary-2: #26C9A0;
$complementary-color-dark: #008D6A;
$color-primary-4: #00684E;

$color-primary-0: #101010;	// Main Primary color */
$color-primary-1: #908C8C;
$color-primary-2: #545454;
$color-primary-3: #000000;
$color-primary-4: #010000;

//buttons

.filter-button {
  background-color: $base-color;
  margin-bottom: 0.5rem;
  width: 6rem;

  &:hover {
    background-color: $base-color-dark;
  }
}

.action-button {
  background-color: #00BC8D;
  margin-top: 0.8rem;
}

//text


@mixin text() {
  font-family: Eczar, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.text-default {
  @include text();
}

.text-highlight {
  @include text();
  font-weight: 600;
}

.text-header {
  @include text();
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.text-header-important {
  @include text();
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 3rem;
  font-size: 1.8rem;
}