@import "../../../../../global-scss/global-styles";

.media-container {
  margin-bottom: 1rem;

  .media-body {
    text-align: left;
    padding-left: 1rem;

    .media-heading {
      padding: 0;
    }
    .attraction-info-body {
      &:hover {
        cursor: pointer;
        color: $base-color;
      }
    }

    .icon-delete {
      color: $base-color;

      &:hover {
        color: $base-color-dark;
        cursor: pointer;
      }
    }
  }

  .media-img {
    max-height: 7rem;
    max-width: 7rem;
  }
}